$font_primary: 'Open Sans';
$font_secondary: 'Montserrat';
$extrabold: 800;
$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;


/// Copy text color
/// @type Color
$text-color: #181818 !default;

///Blue text
/// @type Color
$blue-text: #002542;

/// Main brand color
/// @type Color
$brand-color: #002849 !default;

///Secondary brand color
/// @type Color
$brand-color-secondary: #00aeef !default;

/// Grey
/// @type Color
$grey: #838383 !default;

/// Light Grey
/// @type Color
$light-grey: #ebebeb;

///White
/// @type Color
$white: #ffffff !default;